<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.ovi.shared">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application>
        <service
            android:name="ru.ovi.oneclicktimer.ui.service.TimerService"
            android:enabled="true"
            android:exported="true" />
    </application>
</manifest>
